<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mele Rimba</title>
    <link rel="stylesheet" href="/CSS/mele.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
    <div class="container">
        <div id="multi-item-carousel" class="carousel slide smooth-transition">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_1.jpg" class="d-block w-100" alt="Item 1">
                        </div>
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_2.jpg" class="d-block w-100" alt="Item 2">
                        </div>
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_3.jpg" class="d-block w-100" alt="Item 3">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_4.jpg" class="d-block w-100" alt="Item 4">
                        </div>
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_5.jpg" class="d-block w-100" alt="Item 5">
                        </div>
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_6.jpg" class="d-block w-100" alt="Item 6">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_7.jpg" class="d-block w-100" alt="Item 7">
                        </div>
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_8.jpg" class="d-block w-100" alt="Item 8">
                        </div>
                        <div class="col-md-4">
                            <img src="/IMAGES/mele_slideshow_9.jpg" class="d-block w-100" alt="Item 9">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#multi-item-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#multi-item-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="centered-text" id="welcome">
            <h1>Welcome To Mele!</h1>
            <p>Real Time Bee-Hive Monitoring System </p>
            <p>We blend centuries-old beekeeping traditions with cutting-edge technology.
                Our innovative equipment, sensors, and hardware empower beekeepers to enhance honey quality,
                optimize hive health, and maximize productivity.
                Moreover, we provide the tools to merge heritage with modern precision,
                ensuring a sustainable and prosperous future for beekeeping.
            </p>
        </div>
    </div>
    <div class="slideContainer">
        <div class="secondslide">
            <div style="background-image:url(/IMAGES/mele_secondSlideshow_1.jpg)"></div>
            <div style="background-image:url(/IMAGES/mele_secondSlideshow_2.jpg)"></div>
            <div style="background-image:url(/IMAGES/mele_secondSlideshow_3.jpg)"></div>
            <div style="background-image:url(/IMAGES/mele_secondSlideshow_4.jpg)"></div>
            <div style="background-image:url(/IMAGES/mele_secondSlideshow_5.jpg)"></div>
        </div>

        <div class="slideTitle">
            <h2>
                Every Bee Matters
            </h2>

            <p>

            </p>
            <div class="lastP">
                <p>
                    When you choose Mele, you choose a trustworthy <br>
                    system that values the health and well-being of bees.
                </p>
            </div>
        </div>
    </div>
    <div class="safe">
        <h3 class="main-safe">Bees & SDG's</h3>
        <p>Bees are crucial for pollination, which supports global food security, biodiversity, and ecosystems. Their
            health is directly linked to achieving several Sustainable Development Goals (SDGs), such as Zero Hunger
            (SDG 2), Responsible Consumption (SDG 12), and Life on Land (SDG 15). Protecting bees helps ensure a
            sustainable, healthy environment for both nature and humans, making them essential for a thriving planet.
        </p>
        <a href="https://www.gavi.org/our-alliance/global-health-development/sustainable-development-goals?gad_source=1&gclid=CjwKCAiAn9a9BhBtEiwAbKg6fvkPEPF_5f6R5IVasdSZGOQDrH378f7pyxlvwTe-UCUeEW-M5-gpvBoCmYIQAvD_BwE"
            , target="_blank">Learn
            More <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
    <div class="lastpic">
        <img src="/IMAGES/kai-wenzel-dyGWrmJ_i4E-unsplash.jpg" alt="Aswan Attractions">
        <div class="lastpic-text">
            <h3>Beekeeping</h3>
            <p>Quality and Care in Every Drop</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#multi-item-carousel').carousel({
                interval: 2000 // Change slide every 2 seconds (2000 milliseconds)
            });
        });
    </script>
</body>

</html>