/* Background Styles */
body {
    background-color: #fca311;
    background-image: radial-gradient(
        650px circle at 0% 0%,
        #fbf5dd 15%,
        #fca311 35%,
        rgba(252, 163, 17, 0.8) 75%,
        rgba(252, 163, 17, 0.7) 80%,
        transparent 100%
    ),
    radial-gradient(
        1250px circle at 100% 100%,
        #fbf5dd 15%,
        #fca311 35%,
        rgba(252, 163, 17, 0.8) 75%,
        rgba(252, 163, 17, 0.7) 80%,
        transparent 100%
    );
}

.cascading-right {
    margin-right: -50px;
}

/* Card Styles */
.card {
    background: rgba(251, 245, 221, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

/* Button Styles */
.signUp {
    width: 100%;
    background-color: #16404d;
    color: #fbf5dd;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.5s;
}

.signUp:hover {
    background-color: #df951d;
}

.cancel {
    color: #16404d;
    position: absolute;
    right: 5px;
    top: 5px;
    border: transparent;
    font-size: 25px;
    background-color: transparent;
    transition: color 0.5s;
}

.cancel:hover {
    color: #df951d;
}

/* Form Elements */
.form-check-input:checked {
    background-color: #16404d !important;
    border-color: #16404d !important;
}

/* Social Media Icons */
.btn-link {
    color: #16404d;
    transition: color 0.5s;
}

.btn-link:hover {
    color: #df951d;
}

/* Link Styles */
.member {
    margin-top: 10px;
}

.login {
    color: #16404d;
    transition: color 0.5s;
    text-decoration: none;
}

.login:hover {
    color: #df951d;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body:not(.cMail, .pswe) {
    animation: fadeIn 1s ease-in-out;
}

img {
    animation: fade 1s ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}
